.dashboard {
  height: 50vh;
  width: 50vw;
  background-color: azure;
  border-radius: 2%;
  border: 1px solid black;
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
.dashboard-main {
  margin: 2%;
  padding: 50px;
  text-align: center;
}
