.radio-info {
  margin: 10px;
  padding: 2px;
  width: 60vw;
  border: 1px solid black;
}
.financialform {
  background-color: lightblue;
  padding: 20px;
  width: 70vw;
  margin: 2% 10% 2% 10%;
  border: 2px solid slategrey;
  border-radius: 2%;
}
.financial-view {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.eachCard {
  width: 18rem;
  border: 2px solid black;
  border-radius: 2%;
}
.link {
  width: 50px;
  border: 2px solid black;
  border-radius: 2%;
  color: green;
}
