.login-form {
    border: 2px solid slategrey;
    padding: 10px;
    border-radius: 2%;
    width: 50vw;
    justify-content: center;
    margin-left: 20%;
  }
  .main {
    padding: 20px;
  
    justify-content: center;
  }
  .right {
    text-align: right;
  }